# Title 1

###### Title 6

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

### Esto es markdown

```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```
 
```python
s = "Python syntax highlighting"
print s
```
 
```
No language indicated, so no syntax highlighting. 
But let's throw in a <b>tag</b>.
```

In [1]:
print("Hola mundo")

Hola mundo

In [2]:
# NO tipado
# Variables primitivas

entero = 10
decimales = 4.543
nombre = "Edison"
segundoNombre = "Ubaldo"
apellido = 'Sanango'
casado = False
profesor = True
hijos = None


# Tipos de datos

print(type(entero))           # int
print(type(decimales))        # float
print(type(nombre))           # str
print(type(segundoNombre))    # str
print(type(apellido))         # str
print(type(casado))           # bool
print(type(profesor))         # bool
print(type(hijos))            # NoneType

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [3]:
cadena_de_texto = """
Es un ejemplo de una cadena larga.

Ahora no es tan larga.

Pero solo es un ejemplo.
"""

print(cadena_de_texto)

Es un ejemplo de una cadena larga.

Ahora no es tan larga.

Pero solo es un ejemplo.

In [7]:
import math

x = float('Nan')
math.isnan(x)

True

In [8]:
print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)

10
Edison

In [14]:
# Condiciones
# Truty - Falsy

tuplas = (1,2,3) # Arreglos que no se pueden modificar
listas = [4,5,6] # Arreglos que se pueden modificar

diccionario = {
    "nombre": "Edison"
}


#'''
if('Edison'):
    # ...
    print('1.Truty') #
else:
    # ...
    print('1.Falsy')
    
    
if(''):
    # ...
    print('2.Truty')
else:
    # ...
    print('2.Falsy') #
    
# Para validar que una función tenga valor
nulo = None
if(nulo):
    print('3.Truty')
else:
    print('3.Falsy') #
    
if(1):
    print('4.Truty') #
else:
    print('4.Falsy')

if(0):
    print('5.Truty')
else:
    print('5.Falsy') #
    
if(-1):
    print('6.Truty') #
else:
    print('6.Falsy')
    
if(-1.1):
    print('7.Truty') #
else:
    print('7.Falsy')
    
if(1.2):
    print('8.Truty') #
else:
    print('8.Falsy')

#'''

if(()): #Falsy
    print('9.Truty')
else:
    print('9.Falsy') #
    
if((1,2,3)): #Truty
    print('10.Truty') #
else:
    print('10.Falsy')
    
if([]): #Falsy
    print('11.Truty')
else: 
    print('11.Falsy') #
    
if([1,2,3]): #Truty
    print('12.Truty') #
else:
    print('12.Falsy')
    
    
nombre = "nombre"
if({nombre: "Edison"}): #Truty
    print('13.Truty') #
else:
    print('13.Falsy')

1.Truty
2.Falsy
3.Falsy
4.Truty
5.Falsy
6.Truty
7.Truty
8.Truty
9.Falsy
10.Truty
11.Falsy
12.Truty
13.Truty

In [15]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# Filtros

print(arreglo[0:3]) # Prácticamente es un intervalo abierto [0,3[
print(arreglo[5:]) # Hasta el final
print(arreglo[:3]) # Desde el principio
print(arreglo[3:-2]) # Índice negativo empieza en el FINAL.
print(arreglo[-8:8])
print(arreglo[-4:-1])
print(arreglo[-7:])
print(arreglo[:-3])
print(arreglo[:])

[1, 2, 3]
[6, 7, 8, 9, 10]
[1, 2, 3]
[4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]
[7, 8, 9]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
arregloTupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(arregloTupla[5:7])

(6, 7)

In [19]:
diccionario = {
    "nombre": "Edison",
    "apellido": "Sanango",
    "sueldo": 0.1,
    "mascotas": [{"nombre": "Atena"}]
}

print(diccionario["nombre"])

Edison

In [20]:
# Para verificar si existe un dato

12 in arreglo

False

In [21]:
print(type(12 in arreglo))

<class 'bool'>

In [25]:
"nombre" in diccionario

True

In [29]:
"Sanango" in diccionario

False

In [30]:
for numeroLista in diccionario:
    print(numeroLista)

nombre
apellido
sueldo
mascotas

In [31]:
contador = 0
while contador < 10:
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9

In [33]:
# Para acceder al valor de un diccionario

diccionario['mascotas'][0] = "Bambina"
print(diccionario)

{'nombre': 'Edison', 'apellido': 'Sanango', 'sueldo': 0.1, 'mascotas': ['Bambina']}

In [34]:
diccionario.keys()

dict_keys(['nombre', 'apellido', 'sueldo', 'mascotas'])

In [35]:
diccionario.values()

dict_values(['Edison', 'Sanango', 0.1, ['Bambina']])

In [36]:
type(diccionario)

dict

In [37]:
type(diccionario.values())

dict_values

In [38]:
for llave in diccionario.keys():
    print(llave)

nombre
apellido
sueldo
mascotas

In [39]:
for valor in diccionario.values():
    print(valor)

Edison
Sanango
0.1
['Bambina']

In [40]:
a = None
if (a != True):
    print('Hola')

Hola